<!DOCTYPE html>
<html>
<head>
    <title>Add Emp</title>
</head>
<body>
      <h3><a href="/admin">Back</a>|<a href="/logout">Logout</a></h3>
    <form method="post">
      <center>
        <fieldset>
            <legend><h2>Add Employee page</h2></legend>
            <table>
              <tr>
                <td>name</td>
                <td><input type="text" name="name"></td>
              </tr>
              <tr>
                <td>Username</td>
                <td><input type="text" name="username"></td>
              </tr>
              <tr>
                <td>Password</td>
                <td><input type="password" name="password"></td>
              </tr>
              <tr>
                <td>Phone</td>
                <td><input type="text" name="phone"></td>
              </tr>
              <tr>
                <td>Gender</td>
                <td>  <input type="radio" id="male" name="gender" value="male">
                      <label for="male">Male</label><br>
                      <input type="radio" id="female" name="gender" value="female">
                      <label for="female">Female</label><br>
                </td>
              </tr>
              <tr>
                <td>Designation:</td>
                <td><input type="text" name="designation"></td>
              </tr>
              <tr>
                <td>Type:</td>
                <td><input type="text" name="type"></td>
              </tr>
              <tr>
                <td></td> <td><input type="submit"  value="Add"></td>
              </tr>
            </table>
        </fieldset>
      </center>
    </form>
</body>