<!DOCTYPE html>
<html>
<head>
	<title>Home page</title>
	<style>
	table.center {
				margin-left: auto;
				margin-right: auto;
			}
	</style>

</head>
<body>
	<center>

					<h1>Welcome Home! <%= userlist.name %></h1>
					<h2>My Profile</h2>

</center>
</body>
</html>