<!DOCTYPE html>
<html>
<head>
    <title>Employee</title>
</head>
<body>
    <form method="post">
    	<h2 align="center">Welcome To your account!</h2>
        <fieldset>
            <legend>EmpInfo</legend>
            <table>
              <tr>
                <td><input type="submit" name="choice" value="myProfile"></td>
              </tr>
              <tr>
                <td><input type="submit" name="choice" value="updateProfile"></td>
              </tr>
              <tr>
              </tr>
            </table>
            	<b><a href="/logout">Logout</a></b>
        </fieldset>
    </form>
</body>